body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container2{
    height: 98vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
nav{
    display: flex;
}
.menuDerecha{
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 5rem;
}
.valor{
    padding: 5px;
    color: grey;
}
input{
    width: 20rem;
    text-decoration: none;
    border: none;
}
.barraBusqueda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    border: solid 1px white;
    border-radius: 2rem;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.botonBarraBusqueda{
    border: 0;
    background-color: white;
}
.aplicaciones{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon{
    margin-left: 50px;
    margin-right: 50px;
}
.img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
}
.nombres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.app{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 25px;
}
footer{
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2rem;
    cursor: pointer;
}
.abajoderecha{
    display: flex;
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.abajoderecha:active{
    display: flex;
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.value{
    padding: 5px;
    color: rgb(37, 130, 206);
}